@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
    --color-green:#50fa7b;
    --color-rocket: #7159c1;
    --color-darktheme: #282a36;
    --color-amareloM: #f7df1e;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

body {
    background: var(--color-rocket);
}    

header {
    background-color: white;
    width: 100%;
    padding: 32px;
    text-align: center;
    box-sizing: border-box; /*Leva os elementos ao limite sem estourar com width de 100%*/
}

.links {
    font-size: 22px;
}

.links a + a {
    margin-left: 32px;
}

.links a {
    color: #777;
    position: relative;
}

.links a.active {
    font-weight: bold;
    color: var(--color-rocket);
}

.links a:hover {
    color: var(--color-rocket);
}

.links a::after {
    content: "";
    width: 0;
    height: 2px;
    background-color: var(--color-rocket);
    position: absolute;
    left: 0;
    bottom: -4px;
}

.links a:hover::after {
    width: 100%;
    transition: width 200ms ease-in-out ;
}

/* Card */
.card {
    background-color: white;
    width: 800px;
    min-height: 400px;
    margin: 45px auto;

    display: grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: 0px 2px 6px -2px rgba(0, 0, 0, 0.2);

    /* Animation */
    animation-name: up 200ms ease;
}

@keyframes up {
    from { /*0%*/
        opacity: 0;
        transform: translateY(15px);
    }

    to {
        opacity: 1;
    }
}

/* Details */
.details {
    padding: 32px;
}

.details .item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 16px 0;
}

.details .item:last-child {
    border-bottom: none;
}

.details h3,
.details .item div:nth-child(1) {
    line-height: 24px;
    font-size: 14px;
    color: #777;
    letter-spacing: 0.7px;
    font-weight: normal;
}

.details .item div:nth-child(2) {
    color: #555;
    font-weight: bold;
    font-size: 18px;
}

.details h3 {
    text-transform: uppercase;
    font-weight: bold;
    color: var(--color-rocket);
}

.details .item span {
    padding: 8px 16px;
    background-color: var(--color-amareloM);
    border-radius: 16px;
    color: #777;
    margin-right: 4px;
    margin-top: 8px;
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
}

/* Formulario create.njk */
input {
    width: 100%;
    color: #555;
    font-weight: bold;
    font-size: 18px;
    outline: none;
}

input[type="radio"] {
    width: initial;
    margin-right: 4px;
}

.label-class:hover{
    cursor: pointer;
}

input::placeholder {
    font-size: 16px;
    font-weight: normal;
}

button[type="submit"],
a.button {
    padding: 8px 32px;
    background: var(--color-rocket);
    color: white;
    border-radius: 4px;
    margin-top: 32px;
    width: 100%;
    font-size: 16px;
}

button[type="submit"]:hover,
a.button:hover {
    filter: brightness(90%);
    cursor: pointer;
    transition: background 0.6s;
}

a.button {
    display: block;
    box-sizing: border-box;
    text-align: center;
}

#form-delete button[type="submit"] {
    margin-top: 8px;
    background-color: lightcoral;
}

#form-delete button[type="submit"]:hover {
    background-color: red;
}

/* Index instructors */

.table-container {
    display: block;
    padding: 40px;
    box-sizing: border-box;
}

.table-container table {
    width: 100%;
    border-spacing: 0;
}

.table-container thead tr th {
    text-align: left;
}

.table-container td, th {
    padding: 16px;
    border-bottom: 1px solid #d9d9d9;
}

.table-container th {
    text-transform: uppercase;
    color: #777;
    font-size: 14px;
}

/* Pega o ultimo elemento */
.table-container tbody tr:last-child td{
    border-bottom: none;
}

.table-container tbody tr td:first-child {
    display: grid;
    grid-template-columns: 64px 1fr;
    align-items: center;
}

.table-container tbody tr td:first-child span {
    width: 48px;
    height: 48px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    box-shadow: 3px 1px 6px -4px black;
    border: 2px solid white;
}

.table-container tbody tr td:last-child a,
.table-container > a {
    background-color: var(--color-rocket);
    padding: 8px 16px;
    text-transform: uppercase;
    color: white;
    font: 12px;
    border-radius: 4px;
    transition: 0.4s;
}

.table-container tbody tr td:last-child a:hover,
.table-container > a:hover {
    filter: brightness(80%);
}

.table-container > a {
    margin-bottom: 16px;
    display: inline-block;
}

.table-container thead tr th:last-child,
td:last-child {
    text-align: center;
}

.table-container .services-style span {
    padding: 8px 16px;
    border-radius: 16px;
    margin-right: 4px;
    text-align: center;
    background-color: var(--color-amareloM);
    color: #777;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 10px;
    display: inline-block;
    
}