@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
    --primary-color: #fd951f;
    --secondary-color: #1f83fd;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
    outline: none;
}

html,body {
    min-height: 100vh;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #cccccc;
}

.container {
    max-width: 940px;
    width: 90%;
    margin: 0 auto;
}

.button {
    background-color: var(--primary-color);
    color: white;
    display: block;
    margin: 16px 0;
    padding: 12px 16px;
    width: 100%;
    border-radius: 4px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    transition: all 200ms;

    /* Para color o botao para baixo */
    align-self: end;
}

/* Form edit */
.button.edit {
    background-color: var(--secondary-color);
}

.button.delete {
    background-color: lightgray;
}

.button:hover {
    background-color: #d7780b;
}

.button.edit:hover {
    background-color: #065ac1;
}

.button.delete:hover {
    background-color: rgb(223, 62, 62);
}

/* Header */
header, footer {
    background-color: black;
    color: white;

    width: 100%;
    padding: 32px 0;
    text-align: center;
}

header > div.container {
    display: grid;
    grid-template-columns: 220px 1fr 280px;
    align-items: center;
    gap: 24px;
}

header > div.container a {
    justify-self: start;
}

/* logo */
.logo h1, h2 {
    transition: 400ms;
}

.logo h1 {
    color: white;
    font-size: 32px;
    line-height: 46px;
}

.logo:hover h1 {
    color: var(--primary-color);
}

.logo h2 {
    color: var(--primary-color);
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 2px;
    position: relative;
}

.logo h2::after {
    content: "";
    width: 0;
    height: 2px;
    bottom: -2px;
    left: 8px;
    position: absolute;
    background: white;
}

.logo:hover h2::after {
    width: 30%;
    color: white;
    transition: width 400ms ease-in-out ;
}

.logo:hover h2 {
    color: white;
}

/* Header Search */

.search input {
    width: 100%;
    padding: 8px 16px;
    border-radius: 2px;
    font-size: 16px;
}

/* Primary Menu */
nav.primary ul {
    display: flex;
    justify-content: space-between;
}

nav.primary ul li a{
    display: flex;
    align-items: center;
    color: white;
    transition: 200ms;
}

nav.primary ul li a:hover {
    color: var(--primary-color);
}

nav.primary ul li a i {
    margin-right: 8px;
}

/* Products Form */

section.form {
    background-color: white;
    padding: 32px 24px;
    margin: 32px auto;

    box-shadow: 2px 2px 2px -4px rgba(60, 60, 60, .9);
    border: 1px solid #efefef;
    border-radius: 4px;

    max-width: 700px;
    width: 90%;
}

section.form .header h3{
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.7px;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--primary-color);
    margin-bottom: 16px;
}

form .fields {
    margin-bottom: 64px;
}

form .item {
    margin-bottom: 16px;
}

form .item > div:nth-child(1) {
    color: #777;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 8px;
}

form .item input[type="text"], 
form .item input[type="number"], 
form .item textarea,
form .item select {
    width: 100%;
    padding: 8px 16px;
    box-shadow: 2px 2px 2px -4px rgba(63, 63, 63, .9);
    border: 1px solid #efefef;
    border-radius: 4px;
    font-size: 16px;
}

form .item select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    /* trazer de volta o icone lateral */
    background-color: #fff;
    background-image: url("https://w0.pngwave.com/png/820/801/arrow-computer-icons-bottom-png-clip-art.png"),
    linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
    background-repeat: no-repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: 1.3em auto, 100%;
}

form .item textarea {
    min-height: 150px;
    max-height: 250px;
    max-width: 100%;
    min-width: 100%;
}

.form .item span {
    padding: 8px 16px;
    background-color: var(--primary-color);
    border-radius: 16px;
    color: white;
    margin-right: 4px;
    margin-top: 8px;
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    cursor: pointer;
}

form .item input[type="text"]:focus,
form .item input[type="number"]:focus, 
form .item textarea:focus,
form .item select:focus {
    border: 1px solid var(--primary-color);
}

/* Photos upload */
form .item #photos-upload {
    position: relative;
    display: block;
    overflow: hidden;
    width: 200px;
}

form .item #photos-upload p {
    padding: 8px 16px;
    border-radius: 4px;
    box-shadow: 0 2px 2px -6px #333;
    background-color: var(--secondary-color);
    color: white;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    transition: 200ms;
}

form .item #photos-input {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    opacity: 0;
}

form .item #photos-preview {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    width: 100%;
    margin: 8px 0;
}

form .item #photos-preview img {
    width: 100%;
    height: 150px;

    object-fit: cover;
}

#photos-preview .photo {
    position: relative;
}

#photos-preview .photo i {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.8);
    color: red;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 500%;
    cursor: pointer;
    transition: opacity 200ms;
    opacity: 0;
}

#photos-preview .photo:hover i {
    opacity: 1;
}

/* Product View */
.product-single {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;

    padding: 32px 24px;
    margin: 32px auto;

    box-shadow: 2px 2px 2px 0px rgba(63, 63, 63, .4);
    border: 1px solid #efefef;
    border-radius: 4px;
}

.product-single .gallery {
    width: 100%;
}

.product-single .gallery img{
    width: 100%;
}

/* Product single Info */
.product-single .info {
    display: grid;
    grid-template-rows: auto 40px 2fr 1fr;
}

.product-single .info h1 {
    font-size: 32px;
    line-height: 42px;
    color: #333;
    text-transform: uppercase;
}

.product-single .info .published {
    color: #888;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 0.4px;
}

/* Price-buy */
.product-single .price-buy {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 8px;
    border-top: 1px solid #eee;
}

.product-single .price-buy .price {
    font-size: 24px;
    color: #333;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.product-single .price-buy .old {
    text-decoration: line-through;
    color: #999;
    font-size: 14px;
    font-weight: normal;
    margin-left: 8px;
}

.product-single .price-buy .buy button {
    background-color: var(--secondary-color);
    font-size: 14px;
    letter-spacing: .4px;
}