section.login.container,
section.forgot.container {
    max-width: 500px;
}

section.login.container.form input[name="email"], 
section.login.container.form input[name="password"]{
    max-width: 100%;
}

section.login.container .fields {
    margin-bottom: 32px;
}

section.login.container .footer ul {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}

section.login.container .footer ul li,
section.forgot.container .footer ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.login.container .footer ul a {
    color: #777;
}

section.login.container .footer ul li p {
    font-weight: 400;
}

section.login.container .footer ul li a {
    position: relative;
}

section.login.container .footer ul li a:hover {
    color: var(--secondary-color);
    font-weight: 600;
}

section.login.container .footer ul li a::after{
    background: var(--secondary-color);
    content: "";
    width: 0%;
    height: 2px;
    left: 0;
    top: 20px;
    position: absolute;
    transition: width 300ms;
}

section.login.container .footer ul li a:hover::after {
    width: 60%;
}