section.login.container {
    max-width: 500px;
}

section.login.container.form input[name="email"], 
section.login.container.form input[name="password"]{
    max-width: 100%;
}

section.login.container .fields {
    margin-bottom: 32px;
}

section.login.container .footer ul {
    display: flex;
    justify-content: space-evenly;
}

section.login.container .footer ul a {
    color: #777;
}

section.login.container .footer ul a:hover {
    color: #000;
    font-weight: 600;
}