{% macro products(name, classes, products) %}
    <section class="shop {{classes}}">

        {% if name%}
            <h2>{{name}}</h2>
        {% endif %}

        <div class="items">
            {% for product in products %}
                <div class="product">
                    <div>
                        <div class="image"
                            style="background-image: 
                            url('{{product.img if product.img else '//placehold.it/500x360'}}')">
                        </div>
                    </div>

                    {% if product.oldPrice != product.price %}
                        <div class="old-price">De: {{product.oldPrice}}</div>
                    {% endif %}
                    <p>{{product.price}}</p>
                    <div class="titleQuantity">
                        <h4>{{product.name}}</h4>
                        <h5>Quantidade: {{product.quantity}}</h5>
                    </div>

                    <a href="/products/{{product.id}}" class="button">Ver Produto</a>
                </div>
            {% endfor%}
        </div>
    </section>
{% endmacro %}